@import 'reset';

#body {
  background-color: #F5F5F5;
  height: 100vh;
  text-align: center;
}

#search-input {
  display: block;
  margin: auto;
}

#search-div, #list-div, form {
  border: 1px solid green;
  width: 50vw;
  margin: auto;
}
