@import 'reset';

body {
  background-color: #F5F5F5;
  text-align: center;
}

input {
  display: block;
  margin: 5px auto;
}

#checkbox, .completed-checkbox {
  display: inline-block;
  margin: 0 5px 0 0;
}

#search-div, #list-div, form {
  border: 2px solid navy;
  width: 50vw;
  margin: 20px auto;
  padding: 5px;
}

.todo {
  text-align: left;
}

#new-todo-input {
  width: 200px;
}
